extends ../layout

block content
  .container.listPage
    h3 #{keyword}
    .resultsContent
      .row
        if movies && movies.length > 0
          each item in movies
            .col-md-3
              .card
                img.card-img-top(src="#{item.poster}", alt="#{item.title}")
                .card-body
                  h5.card-title #{item.title}
                  p.card-text 导演： #{item.director}
                  p 类型：
                    each i in item.genres
                      span #{i}  
                  a.btn.btn-primary(href="/movie/#{item._id}", role="button") 观看预告片
    .row.justify-content-center          
      ul.pagination
        - for (var i = 0; i < totalPage; i++) {
          - if (currentPage == (i + 1)) {
              li.page-item.active
                a.page-link #{currentPage}
          - }
          - else {
              li.page-item
                a.page-link(href='/results?#{query}&p=#{i}') #{i + 1}
          - }
        - }