extend ../wechat

block content
	style.
		.hd {
		padding: 1em 0;
		}
		.page_title {
		text-align: center;
		font-size: 30px;
		color: #3cc51f;
		font-weight: 400;
		margin: 0 15%;
		}

	.page
		.hd
			h1.page_title=movie.title
		.bd
			.weui-cells__title 电影介绍
			.weui-cells
				.weui-cell
					.weui-cell__bd.weui-cell_primary
						p 电影名称
					.weui-cell__ft=movie.title
				.weui-cell
					.weui-cell__bd.weui-cell_primary
						p 导演
					.weui-cell__ft=movie.director
				.weui-cell
					.weui-cell__bd.weui-cell_primary
						p 评分
					.weui-cell__ft=movie.rating
				.weui-cell
					.weui-cell__bd.weui-cell_primary
						p 类型
					.weui-cell__ft
						- for (var i = 0; i < movie.genres.length; i++) {
							span #{movie.genres[i]}
						- }
						
				.weui-cell
					.weui-cell__bd.weui-cell_primary
						p 上映年份
					.weui-cell__ft=movie.year
			.weui-cells
				section
					img(src="#{movie.poster}",style="width:100%;")
			.weui-article
				section
					p=movie.summary
					
